@page "/"
@layout Layout.EmptyLayout
@inject NavigationManager Navigation

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />
<style type="text/css">

    .bounceIn {
        opacity: 0;
        animation-delay: 0.5s;
        animation-duration: 0.5s;
        animation-name: bounceIn;
        animation-fill-mode: forwards;
    }
</style>

<PageTitle>Condolife</PageTitle>
<MudGrid>
    <MudItem Class="mb-20" xs="12">
        <MudAppBar Color="Color.Success">
            <MudText Typo="Typo.h5"
                     Align="Align.Center">
                Condolife
            </MudText>
            <MudSpacer />
            <MudButton Color="Color.Dark" IconColor="Color.Dark" EndIcon="@Icons.Material.Rounded.Login" OnClick="NavigateToLogin">
                Entrar
            </MudButton>
        </MudAppBar>
    </MudItem>

    <MudItem Class="mt-20" xs="12">
        <MudCarousel Class="mud-width-full" Style="height: 40vh;"  TData="object" AutoCycle="false">
            <MudCarouselItem Color="@Color.Primary" Transition="Transition.Slide">
                <div class="d-flex" style="height:100%">
                    <MudIcon Class="mx-auto my-auto" Icon="@Icons.Custom.Brands.MudBlazor" Size="@Size.Large" />
                </div>
            </MudCarouselItem>
            <MudCarouselItem Color="@Color.Primary" Transition="Transition.Slide">
                <div class="d-flex" style="height:100%">
                    <MudIcon Class="mx-auto my-auto" Icon="@Icons.Custom.Brands.MudBlazor" Size="@Size.Large" />
                </div>
            </MudCarouselItem>
            <MudCarouselItem Color="@Color.Primary" Transition="Transition.Slide">
                <div class="d-flex" style="height:100%">
                    <MudIcon Class="mx-auto my-auto" Icon="@Icons.Custom.Brands.MudBlazor" Size="@Size.Large" />
                </div>
            </MudCarouselItem>
            <MudCarouselItem Color="@Color.Primary" Transition="Transition.Slide">
                <div class="d-flex" style="height:100%">
                    <MudIcon Class="mx-auto my-auto" Icon="@Icons.Custom.Brands.MudBlazor" Size="@Size.Large" />
                </div>
            </MudCarouselItem>
        </MudCarousel>
    </MudItem>
</MudGrid>


@code {
	void NavigateToLogin() {
		Navigation.NavigateTo("login");
	}
}